{
        "server": true,
        "bootstrap": false,
        "client_addr": "0.0.0.0",
        "datacenter": "SUPERION",
        "encrypt": "{{ consul_key }}",
        "log_level": "INFO",
        "enable_syslog": true,
        "disable_update_check": true,
        "data_dir": "/opt/consul/data",
        "ui_dir": "/opt/consul/webui",
        "start_join": ["{{ consul_join_list }}"]
}
