##
server {
    listen {{ kibana_nginx_port }};

    access_log /var/log/nginx/kibana_accesa.log;
    error_log /var/log/nginx/kibana_error.log;

    location / {
        rewrite ^/(.*) /$1 break;
        proxy_pass http://{{ kibana_host }}:{{ kibana_port }};
        proxy_set_header  Host $http_host;
        #auth_basic "Restricted Access";
        #auth_basic_user_file /etc/nginx/htpasswd.users;   
    }
}
